/* Custom CSS for Navigation Menu, Menu Tittle Links, FAQ */
/* Text Block, Logo, Space, UL, LI */

nav {
  width: 100%;
  height: 6.6rem;
  background: #fff;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  line-height: 6.3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  flex-grow: 1;
  flex:0 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.standard-logo {
  vertical-align:middle;
  width: 32px;
}

.navbar-div {
  z-index: 99;
}

.faq-link, .apply-btn-link {
  text-decoration:none;
}

.web-menu-title {
  border-bottom: 1px solid #eee;
}

.web-menu-title-link{
  text-decoration: none;
  color: #444444;

}

.web-menu-title-link:hover{
  text-decoration: none;
  color: #444444;
}

.front-page {
  margin-top: 25%;
}

.topper {
  height: 3rem;
}

.faq-topper {
  height: 6rem;
}

.apply-btn {
  text-align: right;
}

.space-above-nav {
  height: 15rem;
}

.no-jobs{
  color: #00D0FF;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #a8d1ff;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
