/* Override Elements */
/* Text Highlight in Red. Blue, Yellow, all in soft colors */

span.re {
	background: #ffb7b7;
	padding: 3px;
}
span.bl {
	background: #a8d1ff;
	padding: 8px;
}
span.ye {
	background: #fff2a8;
	padding: 3px;
}

p {

	}
	p.red::selection {
		background: #ffb7b7;
	}
	p.red::-moz-selection {
		background: #ffb7b7;
	}
	p.blue::selection {
		background: #a8d1ff;
	}
	p.blue::-moz-selection {
		background: #a8d1ff;
	}
	p.yellow::selection {
		background: #fff2a8;
	}
	p.yellow::-moz-selection {
		background: #fff2a8;
	}
