/* Parallax Image Effects */
/* 1-Top, 1-Bottom, 10-Middle */

.section-a{
  background-image: url('../images/section-bg1.jpg');
  background-size: cover;
  color:#FFF;
  padding-bottom:8rem;
  text-align:center;
  padding: 8rem 0 7rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-a .fa{
  font-size:35px;
  color: #beebff;
}

.section-a h5{
  margin-bottom:.3rem;
}

.parallax-pimg1{
  background-image: url(../images/image3.jpg);
  min-height:250px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg1 .fa {
  margin-bottom:.3rem;
  font-size:45px;
  color: #beebff;
  padding: 5rem 0 1rem;
}

.parallax-pimg1 h5{
  margin-bottom:.3rem;
}

.parallax-pimg2{
  background-image: url(../images/tech1.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg2 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #beebff;
  padding: 5rem 0 1rem;
}

.parallax-pimg2 h5{
  margin-bottom:.3rem;
}

.parallax-pimg3{
  background-image: url(../images/tech2.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg3 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #beebff;
  padding: 5rem 0 1rem;
}

.parallax-pimg3 h5{
  margin-bottom:.3rem;
}

.parallax-pimg4{
  background-image: url(../images/tech3.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg4 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #beebff;
  padding: 5rem 0 1rem;
}

.parallax-pimg4 h5{
  margin-bottom:.3rem;
}

.parallax-pimg5{
  background-image: url(../images/tech4.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg5 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #beebff;
  padding: 5rem 0 1rem;
}

.parallax-pimg5 h5{
  margin-bottom:.3rem;
}

.parallax-pimg6{
  background-image: url(../images/tech5.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg6 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #0F2967;
  padding: 5rem 0 1rem;
}

.parallax-pimg6 h5{
  margin-bottom:.3rem;
}

.parallax-pimg7{
  background-image: url(../images/tech6.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg7 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #0F2967;
  padding: 5rem 0 1rem;
}

.parallax-pimg7 h5{
  margin-bottom:.3rem;
}

.parallax-pimg8{
  background-image: url(../images/tech7.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg8 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #0F2967;
  padding: 5rem 0 1rem;
}

.parallax-pimg8 h5{
  margin-bottom:.3rem;
}
.parallax-pimg9{
  background-image: url(../images/tech8.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg9 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #0F2967;
  padding: 5rem 0 1rem;
}

.parallax-pimg9 h5{
  margin-bottom:.3rem;
}
.parallax-pimg10{
  background-image: url(../images/tech9.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg10 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #0F2967;
  padding: 5rem 0 1rem;
}

.parallax-pimg10 h5{
  margin-bottom:.3rem;
}
.parallax-pimg11{
  background-image: url(../images/tech10.jpg);
  min-height:150px;
  min-width:300px;
  position:relative;
  opacity:0.50;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align:center;
  margin-bottom:.3rem;
}

.parallax-pimg11 .fa {
  margin-bottom:.3rem;
  font-size:25px;
  color: #0F2967;
  padding: 5rem 0 1rem;
}

.parallax-pimg11 h5{
  margin-bottom:.3rem;
}
